.container {
  position: relative;
  background-color: white;
  z-index: 1;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
}

.active {
  width: 100%;
  transition: all linear 3s;
}
