{
  "env": {
    "browser": true,
    "esnext": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    // Airbnb style guide 적용
    "airbnb-base",
    "airbnb-typescript/base",
    // Typescript ESLint 추천 스타일 적용
    "plugin:@typescript-eslint/recommended"
  ]
}
