/* color */
$primary: #ffe082;
$secondary: #ff8f00;
$background: #fdfcfa;

/* font */
$font-default: 1.2rem;
$font-small: 0.8rem;
$font-medium: 1.6rem;
$font-large: 3rem;

/* font-weight */
$font-thin: 100;
$font-regular: 400;
$font-bold: 700;

/* media-query */
$bp-mobile: 335px;
$bp-tablet: 758px;
$bp-desktop: 1024px;
