/* color */
$primary: #ffe082;
$secondary: #ff8f00;
$black: #444;
$gray: #999;
$background-light: #fdfcfa;
$background-dark: #fdf8ee;

/* font */
$font-default: 1rem;
$font-small: 0.75rem;
$font-medium: 1.25rem;
$font-medium-large: 2.375rem;
$font-large: 3.125rem;

/* font-weight */
$font-thin: 100;
$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 700;

/* media-query */
$bp-mobile: 335px;
$bp-tablet: 758px;
$bp-desktop: 1024px;
