@import '../../../styles/mixin';

.main {
  position: relative;
  width: 100vw;
  height: 58.5rem;
  overflow: hidden;
  user-select: none;
  touch-action: pan-y;

  @include mobile {
    height: 100vh;
  }
}
