@import '../../../../styles/variables';
@import '../../../../styles/animation.scss';
@import '../../../../styles/mixin';

.container {
  width: inherit;
  height: inherit;
}

.track {
  position: relative;
  height: inherit;
  overflow: hidden;
}

.slide {
  position: relative;
  float: left;
  height: inherit;
  z-index: 998;
}

.imageWrapper {
  width: inherit;
  height: inherit;
  z-index: 2;

  @include mobile {
    height: 55%;

    img {
      border-radius: 1.875rem;
    }
  }
}

.phrase {
  position: absolute;
  top: 6.875rem;
  left: 8.125rem;
  color: white;
  z-index: 3;

  button {
    width: 8.75rem;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 1.8rem;
    font-weight: $font-bold;
    color: white;
    line-height: 3rem;
  }

  button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  @include mobile {
    position: static;
    color: $black;
    margin-top: 2.5rem;

    button {
      width: 7.5rem;
      border: 2px solid #ddd;
      color: $black;
    }
  }
}

.title {
  font-size: $font-large;
  font-weight: $font-bold;
  line-height: 1;

  @include mobile {
    font-size: 2.188rem;
  }

  @media screen and (max-width: 568px) {
    font-size: 1.563rem;
  }
}

.content {
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  font-size: $font-medium;
  font-weight: $font-bold;
  line-height: 1.6rem;

  @include mobile {
    font-size: $font-default;
    margin: 1.875rem 0;
  }

  @media screen and (max-width: 568px) {
    margin: 1.25rem 0;
  }
}

button,
.title,
.content {
  animation: none;
}

.active {
  button,
  .title,
  .content {
    @include fade-in(0.8s, ease);
  }
}
